:global(.cheat-sheet pre code.hljs) {
    background: none;
}

.title {
  white-space: nowrap;
  overflow: hidden;
}

.title::after {
  margin-left: 24px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right,rgba(116,95,181,0.2),transparent 80%);
}